body {
  font-family: 'Arsenal', sans-serif;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pacifico', cursive;
}

.flex{
  display:flex;
  flex-direction: row;
}

.flex-50 {
  width:50%;
}


.alternate {
  background-color: #EFEFEF;
}

img {
height:auto;
width: 90%;
border-radius: 50%;
}


table {
  width:75%;
  margin:15px;
  border: 1px solid #000000;
}

tr {
  padding:5px;
}

td, th {
  padding:5px;
  text-align: justify;
  border-bottom:1px dashed #000000;

}

table tr:nth-child(even){
  background-color:steelblue;
}